<?xml version="1.0"?>
<!--
/**
 *
 * @category    payment gateway
 * @package     Tpaycom_Magento2.3
 * @author      Tpay.com
 * @copyright   (https://tpay.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <tpaycom_magento2basic>
                <order_status>pending_payment</order_status>
                <active>1</active>
                <model>tpaycom\magento2basic\Model\Tpay</model>
                <title>tpay.com - szybkie płatności online</title>
                <allowspecific>0</allowspecific>
                <blik_level_zero>0</blik_level_zero>
                <min_order_total>0.10</min_order_total>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <currency>PLN</currency>
                <use_sandbox>0</use_sandbox>
            </tpaycom_magento2basic>
        </payment>
        <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
        </csp>
    </default>
</config>
