<?xml version="1.0"?>
<!--
/**
 *
 * @category    payment gateway
 * @package     Tpaycom_Magento2.3
 * @author      Tpay.com
 * @copyright   (https://tpay.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tpay\Magento2\Api\TpayInterface" type="Tpay\Magento2\Model\TpayPayment" />
    <preference for="Tpay\Magento2\Api\TpayConfigInterface" type="Tpay\Magento2\Provider\ConfigurationProvider" />
    <preference for="Tpay\Magento2\Api\Sales\OrderRepositoryInterface" type="Tpay\Magento2\Model\Sales\OrderRepository" />
    <preference for="Tpay\Magento2\Model\Api\Data\TokensInterface" type="Tpay\Magento2\Model\Token"/>
    <preference for="Tpay\Magento2\Model\Api\TokenRepositoryInterface" type="Tpay\Magento2\Model\TokenRepository"/>
    <preference for="Magento\Sales\Api\OrderPaymentRepositoryInterface" type="Magento\Sales\Model\Order\Payment\Repository"/>
    <preference for="Tpay\Magento2\Notification\Strategy\Factory\NotificationProcessorFactoryInterface" type="Tpay\Magento2\Notification\Strategy\Factory\NotificationProcessorFactory" />
    <type name="Magento\Payment\Model\MethodList">
        <plugin name="tpay_generic_onsite" type="Tpay\Magento2\Model\MethodListPlugin" />
    </type>
    <type name="Magento\Quote\Model\Quote\Payment">
        <plugin name="tpay_generic_payment" type="Tpay\Magento2\Model\GenericPaymentPlugin" />
    </type>
    <type name="Tpay\Magento2\Model\TpayPayment">
        <arguments>
            <argument name="code" xsi:type="string">Tpay_Magento2</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">TpayPaymentMethodValueHandlerPool</argument>
        </arguments>
    </type>
    <type name="Tpay\Magento2\Notification\Strategy\Factory\NotificationProcessorFactory">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="default" xsi:type="object">Tpay\Magento2\Notification\Strategy\DefaultNotificationProcessor</item>
                <item name="card" xsi:type="object">Tpay\Magento2\Notification\Strategy\CardNotificationProcessor</item>
                <item name="blikAlias" xsi:type="object">Tpay\Magento2\Notification\Strategy\BlikAliasNotificationProcessor</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="TpayPaymentMethodConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">Tpay_Magento2</argument>
        </arguments>
    </virtualType>
    <virtualType name="TpayPaymentMethodValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">TpayPaymentMethodConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TpayPaymentMethodConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">TpayPaymentMethodConfig</argument>
        </arguments>
    </virtualType>
</config>
