<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <img data-bind="attr: {src: getLogoUrl(), alt: $t('tpay.com')}" class="payment-icon"/>
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">

        <div class="blik">
            <div id="input_container">
                <input type="text" class="blik_code_input" id="blik_code_input" name="blik_code" value="" maxlength="6"
                       pattern=".{6,}" data-bind="attr: {title: $t('Type in 6 digit code and press pay to commit blik payment.')}" />
                <p class="blik">
                  <!-- ko i18n: 'Type in 6 digit code and press pay to commit blik payment.'--><!--/ko-->
                </p>
                <img
                        data-bind="
                        click: BlikInputFocus(),
                        attr: {src: getBlikPaymentLogo()}"
                        id="blik_img"
                />
            </div>
        </div>

        <div class="TpayBasicForm" id="payment_form_tpaycom_magento2basic">
            <input type="hidden" id="channel" name="channel" value=" ">
            <div id="channels" class="channels"></div>
        </div>

        <span data-bind="html: showChannels()"></span>
        <span data-bind="html: addCSS()"></span>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="TpayRegulations">
                <input  type="checkbox"  checked name="akceptuje_regulamin" id="akceptuje_regulamin" />
                <label for="akceptuje_regulamin">
                    <a target="_blank" data-bind="attr: {href: getTerms()}">I do accept tpay.com service regulations</a>.
                </label>
            </div>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        id="tpaycom_magento2basic_submit"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
