<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <img data-bind="attr: {src: getLogoUrl(), alt: $t('tpay.com')}" class="payment-icon"/>
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <div class="tpay-insidebg">
            <div class="blik">
                <div class="tpay-header-wrapper">
                    <div class="tpay-header-logo">
                        <img class="tpay-logo" src="https://tpay.com/img/banners/tpay_logo_white.svg"/>
                    </div>
                    <div class="tpay-header-belt"></div>
                </div>
                <div class="tpay-panel-inside-content">
                    <div class="tpay-channel-form-wrapper tpay-content-wrapper-class">
                        <img src="https://secure.tpay.com/_/banks/b64.png"/>
                        <div class="tpay-row">
                            <p>
                                <!-- ko i18n: 'Type in 6 digit code and press pay to commit blik payment.'--><!--/ko-->
                            </p>
                            <div class="tpay-input-blik-code">
                                <div class="tpay-input-wrapper">
                                    <div class="tpay-input-label">
                                        <!-- ko i18n: 'BLIK code'--><!--/ko-->
                                    </div>
                                    <input id="blik_code"
                                           name="blik_code"
                                           pattern="\d*"
                                           type="tel"
                                           autocomplete="off"
                                           maxlength="6"
                                           minlength="6"
                                           placeholder="000000"
                                           tabindex="1"
                                           value=""
                                           class="tpay-input-value tpay-blik-input"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tpay-basic-main-payment">
                <div class="tpay-header-wrapper">
                    <div class="tpay-header-logo">
                        <img class="tpay-logo" src="https://tpay.com/img/banners/tpay_logo_white.svg"/>
                    </div>
                    <div class="tpay-header-belt"></div>
                </div>
                <p><!-- ko i18n: 'Choose a payment method'--><!--/ko--></p>
                <div id="groups_v" class="tpay-panel-inside-content">
                    <div id="bank-selection-form" class="tpay-groups-wrapper">
                    </div>
                </div>
                <input type="hidden" id="tpay-channel-input" name="tpay-channel-input"/>
            </div>
        </div>
        <span data-bind="html: showPaymentChannels()"></span>
        <span data-bind="html: addCSS()"></span>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="TpayRegulations">
                <input type="checkbox" checked name="accept_tos" id="accept_tos"/>
                <label for="accept_tos">
                    <a target="_blank"
                       data-bind="attr: {href: getTerms()}, text: $t('I do accept tpay.com service regulations')"></a>.
                </label>
            </div>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        id="tpaycom_magento2basic_submit"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
