<?xml version="1.0"?>
<!--
/**
 *
 * @category    payment gateway
 * @package     Tpaycom_Magento2.3
 * @author      Tpay.com
 * @copyright   (https://tpay.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="tpaycom_magento2basic" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Tpay</label>
                <comment><![CDATA[If you do not have an account yet, register in the production system at <a href="https://tpay.com/" target="_blank">tpay.com</a> or sandbox system <a href="https://panel.sandbox.tpay.com/" target="_blank">sandbox.tpay.com</a>]]></comment>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="general_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General settings</label>
                    <attribute type="expanded">1</attribute>
                    <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Description</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="merchant_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant ID</label>
                        <comment>Your login for Merchant’s panel</comment>
                        <validate>validate-number validate-length maximum-length-10</validate>
                    </field>
                    <field id="security_code" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Security code</label>
                        <comment>Find in Merchant’s panel: Settings -> Notifications</comment>
                        <validate>validate-length maximum-length-32</validate>
                    </field>
                    <field id="show_payment_channels_online" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Only online methods</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="redirect_directly_to_channel" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Redirect directly to bank</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="blik_level_zero" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>BLIK level zero</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="use_sandbox" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use sandbox mode (avoid using it in real production store)</label>
                        <comment>Avoid using it in real production store</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="openapi_settings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Standard payments (Open API)</label>
                    <field id="open_api_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Active</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="open_api_client_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Client ID</label>
                        <comment>Find in Merchant’s panel: Integration -> API -> Open API Keys</comment>
                        <validate>required-entry validate-length maximum-length-64</validate>
                        <depends><field id="open_api_active">1</field></depends>
                    </field>
                    <field id="open_api_password" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Secret</label>
                        <comment>Find in Merchant’s panel: Integration -> API -> Open API Keys</comment>
                        <validate>required-entry validate-length maximum-length-64</validate>
                        <depends><field id="open_api_active">1</field></depends>
                    </field>
                    <field id="onsite_channels" translate="label" type="multiselect" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Signalize payment</label>
                        <comment>Select the payment methods that you want to be displayed separately</comment>
                        <can_be_empty>1</can_be_empty>
                        <source_model>Tpay\Magento2\Model\Config\Source\OnsiteChannels</source_model>
                        <depends><field id="open_api_active">1</field></depends>
                    </field>
                </group>
                <group id="originapi_settings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <comment>Origin API is deprecated. Do not configure for new installations. This section is kept for backwards compatibility to allow processing refunds placed via Origin API.</comment>
                    <label>Configuration Origin API</label>
                    <field id="origin_api_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Active</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="api_key_tpay" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Key</label>
                        <comment>Find in Merchant’s panel: Integration -> API -> Old API Keys</comment>
                        <validate>required-entry no-whitespace validate-length maximum-length-126</validate>
                        <depends><field id="origin_api_active">1</field></depends>
                    </field>
                    <field id="api_password" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Password</label>
                        <comment>Find in Merchant’s panel: Integration -> API -> Old API Keys</comment>
                        <validate>required-entry no-whitespace validate-length maximum-length-40</validate>
                        <depends><field id="origin_api_active">1</field></depends>
                    </field>
                </group>

                <group id="cardpayment_settings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cards payments On-site settings</label>
                    <field id="cardpayment_api_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Active</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <group id="cardpayment_originapi_settings"  translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <comment>Configure this section only if You want to process credit card payments in currencies other than PLN and Your credit card processor is set to Elavon.</comment>
                        <label>Cards payments Origin API settings</label>
                        <depends><field id="cardpayment_api_active">1</field></depends>
                        <field id="hash_type" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Digest algorithm</label>
                            <comment>Find in Merchant’s panel: Credit cards payment -> API</comment>
                            <source_model>Tpay\Magento2\Model\Config\Source\HashTypes</source_model>
                        </field>
                        <field id="verification_code" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Verification code</label>
                            <comment>Find in Merchant’s panel: Credit cards payment -> API. In case of Sandbox, put not empty string.</comment>
                        </field>
                        <field id="card_api_key_tpay" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Card API key</label>
                            <comment>Find in Merchant’s panel: Credit cards payment -> API</comment>
                            <validate>no-whitespace validate-length maximum-length-126</validate>
                        </field>
                        <field id="card_api_password" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Card API password</label>
                            <comment>Find in Merchant’s panel: Credit cards payment -> API</comment>
                            <validate>no-whitespace validate-length maximum-length-40</validate>
                        </field>
                    </group>
                    <field id="card_title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Description</label>
                        <validate>validate-no-empty</validate>
                        <depends><field id="cardpayment_api_active">1</field></depends>
                    </field>
                    <field id="rsa_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>RSA key</label>
                        <comment>Find in Merchant’s panel: Credit cards payment -> API</comment>
                        <depends><field id="cardpayment_api_active">1</field></depends>
                    </field>
                    <field id="card_save_enabled" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable credit card saving</label>
                        <comment>Only available for logged in users</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends><field id="cardpayment_api_active">1</field></depends>
                    </field>
                </group>
                <group id="sale_settings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional settings</label>
                    <field id="send_invoice_email" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Send new invoice email to customer</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort order</label>
                        <validate>validate-number</validate>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>All or allowed countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimal amount</label>
                        <comment>Leave empty for no limit</comment>
                        <validate>validate-number</validate>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximal amount for method</label>
                        <comment>Leave empty for no limit</comment>
                        <validate>validate-number</validate>
                    </field>
                    <field id="bank_payments_view" translate="label" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>View bank payments</label>
                        <comment>If you use other currencies visible on the website and pay in PLN, turn it on/off</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <field id="version_comment" translate="label" type="label" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version information</label>
                    <frontend_model>Tpay\Magento2\Model\Config\Source\VersionInfo</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
