name: Create release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to create'
        required: true

jobs:
  create_release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Check version
        run: |
          for FILE in .version CHANGELOG.MD; do
            if [ $(grep ${{ github.event.inputs.version }} "$FILE" -c) != 1 ]; then
              echo "Version ${{ github.event.inputs.version }} not found in $FILE"
              exit 1
            fi
          done

      - run: git archive --output=tpay-magento2-basic.zip HEAD

      - name: Create Github release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.event.inputs.version }}
          name: "v${{ github.event.inputs.version }}"
          generateReleaseNotes: true
          artifacts: tpay-magento2-basic.zip
