name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Check version in tpay.php
        run: if [ $(grep ${{ github.event.inputs.version }} .version -c) != 1 ]; then exit 1; fi

      - name: Check Changelog
        run: if [ $(grep ${{ github.event.inputs.version }} CHANGELOG.md -c) != 1 ]; then exit 1; fi

      - run: git archive --output=tpay-magento2-basic.zip HEAD

      - name: Create Github release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.event.inputs.version }}
          name: "v${{ github.event.inputs.version }}"
          generateReleaseNotes: true
          artifacts: tpay-magento2-basic.zip
